@charset "UTF-8"; /* Стандартные элементы */ /*html { scroll-behavior: smooth; }*/
html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #eff1f7;
    color: #000;
    font-display: swap;
}

ul:not(.list) li {
    list-style-type: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
    width: 100%;
}

h1, .h1, h2, .h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, .h1 {
    font-size: 3.4rem;
    font-weight: 700;
}

h2, .h2 {
    font-size: 3.0rem;
    font-weight: 700;
}

@media (max-width: 575.98px) {
    h1, .h1 {
        font-size: 1.7rem;
    }

    h2, .h2 {
        font-size: 1.7rem;
    }
}

h3, .h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.main-page h1, .main-page h2, .main-page .h1, .main-page .h2 {
    text-align: center;
}

section:not(.promo) {
    padding-top: 80px;
    padding-bottom: 80px;
}

hr {
    margin: 0;
}

a {
    color: #294c92;
}

a:hover, a.active {
    color: #ed2939;
    text-decoration: none;
}

/* Основные стили */
main {
    padding-top: 80px;
}

.main-page main {
    padding-top: 0;
}

.slide .text {
    display: flex;
    padding: 30px;
    background-color: #294c92;
}

.slide .image-container {
    display: flex;
    position: relative;
    padding: 0;
}

.slide .image-container .image {
    position: relative;
    display: flex;
}

@media (max-width: 575.98px) {
    .slide .image-container .image {
        flex-direction: column;
    }
}

.slide .text .caption {
    font-weight: 300;
    line-height: 1.0;
    display: block;
    font-size: 4rem;
}

.slide .text .teaser {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 200;
}

.main-page .slide .text .teaser, .main-page .slide .text .teaser a, .main-page .slide .text .caption {
    color: #fff;
}

.main-page .slide .text .teaser a {
    font-weight: bold;
}

.main-page .slide .text .teaser a:hover {
    text-decoration: underline;
}

.main-page .slide .image-container .image:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: -moz-linear-gradient(top, #cbc8bd 0%, #cbc8bd 25%, #cbc8bd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cbc8bd 0%, #cbc8bd 25%, #cbc8bd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cbc8bd 0%, #cbc8bd 25%, #cbc8bd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbc8bd', endColorstr='#00cbc8bd', GradientType=0); /* IE6-9 */
}

.slide .image-container:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10.1%;
    left: 0;
    height: 34%;
    width: 22%;
    background-image: url('../images/flag.png');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

@media (max-width: 1591.98px) {
    .main-page .slide .text {
        padding-top: 128px;
    }

    .slide .text .teaser {
        margin-top: 1.4rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .slide .text .caption {
        font-size: 2.6rem;
    }
}

@media (max-width: 1199.98px) {
    .slide .text .teaser {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .slide .text .caption {
        font-size: 3.0rem;
    }
}

@media (max-width: 575.98px) {
    .slide .text .teaser {
        margin-top: 0.5rem;
        font-size: 1.0rem;
        line-height: 1.2rem;
    }

    .slide .text .caption {
        font-size: 2.6rem;
    }
}

header {
    position: fixed;
    width: 100%; /*padding: 12px 0;*/
    background-color: #fff;
    color: #fff;
    z-index: 800;
}

.main-page header { /*padding: 24px 0;*/
    background-color: transparent;
    background-color: transparent;
    transition: .3s;
}

.main-page header.bg {
    background-color: #fff;
}

@media (max-width: 767.98px) {
    header, .main-page header.bg {
        background-color: #294c92;
    }
}

header .logo-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*@media (min-width: 768px) { .main-page header .logo-container { padding-left: 30px; padding-right: 30px; padding-top: 24px; padding-bottom: 24px; } }*/
.main-page header.bg .logo-container, header .logo-container {
    background-color: #294c92;
}

header .logo, footer .logo {
    display: block;
    max-width: 220px;
}

@media (max-width: 767.98px) {
    header .logo img, footer .logo img {
        max-height: 48px;
    }
}

header .menu {
    display: flex;
    padding-left: 2%;
}

header .menu a {
    color: #000;
}

header .menu a.active {
    font-weight: bold;
}

header .menu .btn-default {
    padding: 6px 30px;
    font-size: 0.8rem;
    font-weight: normal;
    border: 1px solid #000;
    background-color: transparent;
}

header .menu .btn-default:hover {
    border-color: transparent;
    background-color: #ed2939;
}

header .nav {
    display: flex;
}

header .nav.dropdown-menu {
    float: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

@media (max-width: 767.98px) {
    header .menu a {
        color: #fff;
    }

    header .nav.dropdown-menu:not(.show) {
        display: none;
    }

    header .nav.dropdown-menu {
        width: 100%;
        background-color: #294c92;
        z-index: 999999;
    }

    header .nav.dropdown-menu li {
        padding: 4px 0;
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (min-width: 768px) {
    header .nav.dropdown-menu {
        position: relative;
    }
}

header .nav & gt

;
li.has-dropdown {
    position: relative;
}

header .nav & gt

;
li.has-dropdown .dropdown {
    position: absolute;
    top: 24px;
    left: 50%;
    -ms-transform: translateX(-50.2%);
    transform: translateX(-50.2%);
    padding: 8px 0 19px;
    margin: 0;
    background-color: #eff1f7;
    border-top: 3px solid #ed2939;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

header .nav & gt

;
li.has-dropdown:hover .dropdown {
    opacity: 1;
    pointer-events: initial;
}

header .nav & gt

;
li.has-dropdown .dropdown li {
    padding: 0;
    white-space: nowrap;
}

header .nav & gt

;
li.has-dropdown .dropdown li a {
    display: block;
    padding: 0 20px;
    color: #262e36;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
}

@media (max-width: 767.98px) {
    header .nav & gt

; li.has-dropdown .dropdown {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      padding: 0;
      margin: 0;
      opacity: 1;
      background-color: transparent;
      border: none;
  }

    header .nav & gt

; li.has-dropdown .dropdown li a {
      color: #fff;
      font-size: 1.0rem;
  }
}

header .more-contacts {
    padding: 1rem;
    min-width: 320px;
    font-size: 0.8rem;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

header .phone {
    display: inline-block;
    position: relative;
    line-height: 1rem;
    color: #000; /*margin-bottom: 1rem;*/
}

header .phone a small, header .phone a {
    font-size: 1.2rem;
    font-weight: bold !important;
    text-decoration: none;
}

header .phone div {
    margin-top: 0.1rem;
    font-size: 0.8rem;
}

@media (max-width: 575.98px) {
    header .phone a {
        font-size: 1.0rem;
        font-weight: normal;
        text-decoration: none;
    }
}

@media (max-width: 348.98px) {
    header .phone a {
        font-size: 0.85rem;
        text-decoration: none;
    }
}

/*.error404-page header &gt; .container { max-width: 100%; }*/
.btn {
    padding: 1rem 3rem;
    border-radius: 50rem;
}

.btn-default {
    color: #fff;
    font-weight: bold;
    background-color: #ed2939;
}

.main-page .promo {
    background-color: #cbc8bd;
}

@media (min-width: 992px) {
    /*.promo { height: 100vh; } .promo .slide.active, .promo .slide.active&gt;.row { display: flex; min-height: 100%; }*/
    .promo .slide .image {
        margin-top: 160px;
    }
}

.callback-btn {
    width: 64px;
    height: 64px;
    background: url(../images/sprite.svg) -461.99px -169.99px no-repeat;
    display: block;
    position: fixed;
    bottom: 100px;
    right: 4.4%;
    border-radius: 50%;
    z-index: 5000;
    transform: rotateY(180deg);
}

.services-list a {
    text-decoration: none;
}

.services-list .service-item {
    text-decoration: none;
    border: 1px solid #a5b1d3;
}

.districts-services .caption {
    font-size: 20px !important;
}

.districts-services section {
    padding: 0 !important;
}

.service-btn {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 4.4%;
    border-radius: 20px;
    z-index: 5000;
    font: 400 16px/1 'Open Sans', sans-serif;
    text-decoration: none !important;
    outline: none !important;
    background: #ed2939;
    padding: 12px 20px;
    color: #fff !important;
}

.main-page .service {
    padding-left: 6%;
    padding-right: 6%;
}

@media (max-width: 992px) {
    .main-page .service {
        padding-left: 0;
        padding-right: 0;
    }
}

.service .service-card {
    background-color: #fff;
    border-bottom: 8px solid #294c92;
}

.main-page .service .service-card {
    height: 100%;
}

.news-list .service .service-card {
    margin-bottom: 80px;
}

/*.main-page .service .service-card&gt;div { padding: 30px; }*/
.service .service-card & gt

;
div {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.service .service-card .js-service-btn {
    align-self: end;
}

.service .service-card .img-holder {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 15px;
}

.service .service-card .img-holder .img {
    position: absolute;
    height: 100%;
    width: 100%; /*top: 0; left: 0; right: 0; bottom: 0; margin: 15px; background-position: center center; background-repeat: no-repeat; background-size: cover;*/
    object-fit: cover;
    border-radius: 50%;
}

.service .service-card .caption { /*margin-top: 20px;*/
    display: block;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
}

.service .service-card .service-get {
    width: 100%;
}

.service .service-card .service-min-price {
}

.main-page .service .service-card .caption {
    padding: 0;
}

.main-page .service .service-card .caption a {
    text-decoration: none;
}

.service .service-card .description {
    padding: 50px 40px;
    color: #464646;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.08);
}

.service .service-card .description .teaser {
    align-self: center;
}

.date, .service .service-card .date {
    font-size: 1.2rem;
    color: #777;
    margin-top: 30px; /*margin-bottom: 30px;*/
}

.service .service-card .btn {
    margin-top: 40px;
    align-self: end;
}

.news .caption {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.news .caption, .news .teaser {
    background: linear-gradient(45deg, #53a3e5 33%, #1042a0 66%, #1042a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news .entry {
    display: inline-block;
    color: #53a3e5;
    text-decoration: underline;
}

.news .teaser, .news .entry {
    margin-top: 20px;
}

@media (max-width: 575.98px) {
    .news .caption, .news .entry {
        margin-top: 10px;
    }
}

.economy .h2, .economy h2 {
    margin-top: 0;
    text-align: left;
}

@media (max-width: 767.98px) {
    .economy .h2, .economy h2 {
        font-size: 1.8rem;
    }
}

.economy .text {
    color: #294c92;
}

.economy.gradient .text {
    color: #fff;
}

.economy .description {
    font-size: 1.6rem;
}

.economy .item:nth-child(1) {
    margin-bottom: 40px;
}

.economy .item .liters {
    color: #fff;
    background-color: #ed2939;
}

.economy .item .liters & gt

;
div:nth-child(1) {
    font-size: 0.9rem;
}

.economy .item .liters & gt

;
div:nth-child(2) {
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 2.8rem;
}

.economy .item .liters & gt

;
div:nth-child(3) {
    font-size: 1.6rem;
}

.economy .item .rubles {
    color: #ed2939;
    background-color: #fff;
}

.economy .item .rubles & gt

;
div:nth-child(1) {
    font-size: 1.2rem;
}

.economy .item .rubles & gt

;
div:nth-child(2) {
    font-size: 3.0rem;
    font-weight: bold;
    line-height: 2.8rem;
}

.economy .item .liters, .economy .item .rubles {
    padding: 15px 40px;
}

@media (max-width: 767.98px) {
    .economy .item .liters, .economy .item .rubles {
        padding: 10px 15px;
    }

    .economy .item .liters & gt

; div:nth-child(2), .economy .item .rubles & gt

; div:nth-child(2) {
      font-size: 2.8rem;
  }
}

.estimator2 .phone {
    color: #000;
}

.estimator2 .phone & gt

;
div:nth-child(1) {
    font-size: 2.0rem;
    font-weight: bold;
}

.estimator2 .phone & gt

;
div:nth-child(2) {
    font-size: 1.2rem;
    line-height: 1rem;
}

.collaborate {
    padding: 30px !important;
}

.collaborate .title {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: bold;
    color: #9c9c9c;
    text-transform: uppercase;
}

.districts_block {
    padding: 0px 10px;
}

.districts_block a {
    border: 1px solid;
    border-radius: 3px;
    margin: 2px;
    white-space: nowrap;
    background: #294c92;
    color: #fff;
    text-decoration: none;
    padding: 4px 6px;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.districts_block a:hover {
    background: #45639f;
}

.main-page .districts_block a {
    border: 1px solid #eff1f7;
    border-radius: 3px;
    margin: 2px;
    white-space: nowrap;
    background: none;
    color: #000;
    text-decoration: none;
    padding: 4px 6px;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.main-page .districts_block a:hover {
    background: #294c92;
    color: #fff;
}

footer {
    padding: 20px 0;
    color: #fff;
    background-color: #0a0a0a;
}

footer a {
    color: #fff;
}

footer .phone {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
}

footer .copyright, footer .copyright a:not(:hover) {
    color: #777;
}

footer .go-top {
    color: #53a3e5;
}

footer .phone_class {
    text-decoration: none;
}

@media (max-width: 767.98px) {
    footer .go-top {
        position: fixed;
        bottom: 1.0rem;
        width: 3.0rem;
        height: 3.0rem;
        left: 1.0rem;
        padding-top: 0.5rem;
        text-align: center;
        color: #fff;
        background-color: #53a3e5;
        border-radius: 4px;
        z-index: 100;
    }

    footer .go-top span {
        display: none;
    }

    footer .go-top i {
        font-size: 3.0rem;
    }

    .whatsapp-button {
        display: block !important;
        right: 0 !important;
    }
}

.whatsapp-button {
    display: none;
}

.tags {
    padding: 30px 60px;
    border: 10px solid #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.tags a {
    display: block;
    margin: 30px 0;
    font-size: 2rem;
    line-height: 1.8rem;
}

.breadcrumbs {
    padding: 24px 0;
    margin: 0;
    font-size: 14px
}

.breadcrumbs li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding-bottom: 0
}

.breadcrumbs li:before {
    display: none
}

.breadcrumbs li:not(:last-of-type) {
    padding-right: 26px
}

.breadcrumbs li:not(:last-of-type):after {
    width: 6px;
    height: 6px;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa #aaa transparent transparent;
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg)
}

.tabs {
    margin-top: 20px;
}

.nav-tabs {
    border-bottom: 4px solid #ed2939;
}

.nav-tabs & gt

;
li {
    margin-bottom: -7px;
    height: 55px;
    margin-top: 1px;
}

.nav-tabs & gt

;
li:not(:last-of-type) {
    margin-right: 17px;
}

.nav-tabs & gt

;
li & gt

;
a {
    padding: 8px 30px 10px;
    margin-right: 0;
    font-size: 18px;
    color: #033;
    text-decoration: none;
    color: #555;
    background-color: #ccc;
    border-radius: 50rem;
}

.nav-tabs & gt

;
li.active & gt

;
a, .nav-tabs & gt

;
li.active & gt

;
a:focus {
    outline: none;
    text-decoration: none;
}

.nav-tabs & gt

;
li & gt

;
a:hover, .nav-tabs & gt

;
li.active & gt

;
a, .nav-tabs & gt

;
li.active & gt

;
a:focus, .nav-tabs & gt

;
li.active & gt

;
a:focus:hover, .nav-tabs & gt

;
li.active & gt

;
a:hover {
    color: #fff;
    background-color: #ed2939;
    border-color: #ed2939;
}

.navbar-brand & gt

;
img, .slick-slide img, .tab-content & gt

;
.active, article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

.seo-links-block .h2, .seo-links-block h2 {
    font-size: 1.4rem;
}

table th {
    font-weight: 600;
    padding: 4px;
    background-color: #ccc;
    color: #fff;
}

table td {
    padding: 4px;
    vertical-align: top;
    line-height: 32px;
}

.faq-list {
    margin-bottom: 60px;
}

.faq-list h1 {
    color: #d9d9d9;
    text-transform: uppercase;
}

.faq-list .item {
    margin: 50px 0;
}

.faq-list .item h3 {
    color: #294c92;
}

.faq-list .item h3 .open {
    color: #ed2939;
}

.faq-list .item .content {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #777;
}

.navigation {
    margin: 60px 0;
    text-align: center;
}

.paginator {
    margin-bottom: 60px;
}

.paginator a {
    padding: 20px 26px;
    margin: 0 4px;
    background-color: #f8f9fa;
    border-radius: 50rem;
}

.paginator & gt

;
span {
    margin: 0 20px;
}

.paginator a.active {
    color: #fff;
    background-color: #ed2939;
}

.paginator a.prev, .paginator a.next {
    background-color: #b1b7bd;
}

.error404 a {
    color: #fff;
}

.about h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #294c92;
}

.about img {
    margin-bottom: 10px;
}

@media (max-width: 575.98px) {
    section:not(.promo).chooseus {
        padding: 0;
    }
}

/* .fancybox-image, .fancybox-inner, .fancybox-nav, .fancybox-nav span, .fancybox-outer, .fancybox-skin, .fancybox-tmp, .fancybox-wrap, .fancybox-wrap iframe, .fancybox-wrap object { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top } .fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020 } .fancybox-skin { position: relative; background: #f9f9f9; color: #444; text-shadow: none; border-radius: 0 } .fancybox-opened { z-index: 8030 } .fancybox-opened .fancybox-skin { box-shadow: none } .fancybox-inner, .fancybox-outer { position: relative } .fancybox-inner { overflow: hidden; max-width: 720px !important; } .fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch } .fancybox-error { color: #444; font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 15px; white-space: nowrap } .fancybox-iframe, .fancybox-image { display: block; width: 100%; height: 100% } .fancybox-image { max-width: 100%; max-height: 100% } #fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span { background-image: url(../images/plugins/fancybox/fancybox_sprite.png) } #fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: .8; cursor: pointer; z-index: 8060 } #fancybox-loading div { width: 44px; height: 44px; background: url(../images/plugins/fancybox/fancybox_loading.gif) center center no-repeat } .fancybox-close, .fancybox-nav { position: absolute; cursor: pointer; z-index: 8040 } .fancybox-close { background: url(../images/sprite.svg) -323px -238px no-repeat; right: 25px; width: 17.34px; height: 17.34px; top: 28px } .fancybox-nav { top: 0; width: 40%; height: 100%; text-decoration: none; background: url(../images/plugins/fancybox/blank.gif); -webkit-tap-highlight-color: #000000 } .fancybox-prev { left: 0 } .fancybox-next { right: 0 } .fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden } .fancybox-prev span { left: 10px; background-position: 0 -36px } .fancybox-next span { right: 10px; background-position: 0 -72px } .fancybox-nav:hover span { visibility: visible } .fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible!important } .fancybox-lock { width: auto } .fancybox-lock, .fancybox-lock body { overflow: hidden!important } .fancybox-lock-test { overflow-y: hidden!important } .fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url(../images/plugins/fancybox/fancybox_overlay.png) } .fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; background-color: rgba(0,0,0, 0.5); } .fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll } .fancybox-title { visibility: hidden; font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; position: relative; text-shadow: none; z-index: 8050 } .fancybox-opened .fancybox-title { visibility: visible } .fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center } .fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: 0 0; background: rgba(0, 0, 0, .8); border-radius: 15px; text-shadow: 0 1px 2px #222; color: #fff; font-weight: 700; line-height: 24px; white-space: nowrap } .fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff } .fancybox-title-inside-wrap { padding-top: 10px } .fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, .8) } .headless .fancybox-close { width: 17.34px; height: 17.34px; background: url(../images/sprite.svg) -280px -266px no-repeat; top: 29px; right: 28px } .fancybox-type-image .fancybox-close { top: -30px; right: -30px } @media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) { #fancybox-loading, .fancybox-next span, .fancybox-prev span { background-image: url(../images/plugins/fancybox/<a href="mailto:fancybox_sprite@2x.png">fancybox_sprite@2x.png</a>); background-size: 44px 152px } #fancybox-loading div { background-image: url(../images/plugins/fancybox/<a href="mailto:fancybox_loading@2x.gif">fancybox_loading@2x.gif</a>);
       background-size: 24px 24px
   }
}
#fancybox-buttons,
#fancybox-thumbs {
   position: fixed;
   left: 0;
   width: 100%;
   z-index: 8050
}
#fancybox-buttons.top {
   top: 10px
}
#fancybox-buttons.bottom {
   bottom: 10px
}
#fancybox-buttons ul {
   display: block;
   width: 166px;
   height: 30px;
   margin: 0 auto;
   padding: 0;
   list-style: none;
   border: 1px solid #111;
   border-radius: 3px;
   box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05);
   background: #323232;
   background: linear-gradient(to top, #444 0%, #343434 50%, #292929 50%, #333 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222', GradientType=0)
}
#fancybox-buttons ul li {
   float: left;
   margin: 0;
   padding: 0
}
#fancybox-buttons a {
   display: block;
   width: 30px;
   height: 30px;
   text-indent: -9999px;
   background-color: transparent;
   background-image: url(../images/plugins/fancybox/fancybox_buttons.png);
   background-repeat: no-repeat;
   outline: none;
   opacity: .8
}
#fancybox-buttons a:hover {
   opacity: 1
}
#fancybox-buttons a.btnPrev {
   background-position: 5px 0
}
#fancybox-buttons a.btnNext {
   background-position: -33px 0;
   border-right: 1px solid #3e3e3e
}
#fancybox-buttons a.btnPlay {
   background-position: 0 -30px
}
#fancybox-buttons a.btnPlayOn {
   background-position: -30px -30px
}
#fancybox-buttons a.btnToggle {
   background-position: 3px -60px;
   border-left: 1px solid #111;
   border-right: 1px solid #3e3e3e;
   width: 35px
}
#fancybox-buttons a.btnToggleOn {
   background-position: -27px -60px
}
#fancybox-buttons a.btnClose {
   border-left: 1px solid #111;
   width: 35px;
   background-position: -56px 0
}
#fancybox-buttons a.btnDisabled {
   opacity: .4;
   cursor: default
}
#fancybox-thumbs {
   overflow: hidden
}
#fancybox-thumbs.bottom {
   bottom: 2px
}
#fancybox-thumbs.top {
   top: 2px
}
#fancybox-thumbs ul {
   position: relative;
   list-style: none;
   margin: 0;
   padding: 0
}
#fancybox-thumbs ul li {
   float: left;
   padding: 1px;
   opacity: .5
}
#fancybox-thumbs ul li.active {
   opacity: .75;
   padding: 0;
   border: 1px solid #fff
}
#fancybox-thumbs ul li:hover {
   opacity: 1
}
#fancybox-thumbs ul li a {
   display: block;
   position: relative;
   overflow: hidden;
   border: 1px solid #222;
   background: #111;
   outline: none
}
#fancybox-thumbs ul li img {
   display: block;
   position: relative;
   border: 0;
   padding: 0;
   max-width: none
}
*/
.select2-container {
    box-sizing: border-box;
    /*display: inline-block;*/
    margin: 0;
    position: relative;
    vertical-align: middle
}

.select2-container .select2-selection--multiple,
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single {
    height: 28px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear,
header .nav & gt

;
li & gt

;
a & gt

;
span {
    position: relative
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    min-height: 32px
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline,
.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button,
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 10051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option[aria-selected] {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    height: 45px;
    font-weight: 700;
    border-radius: 2rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 43px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 16px;
    height: 9px;
    display: block;
    position: absolute;
    top: 70%;
    right: 17px;
    overflow: hidden
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #294c92 #294c92 transparent;
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotateZ(45deg)
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg)
}

.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__placeholder {
    float: right
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus :focus,
.select2-container--default.select2-container--focus:focus {
    outline: none
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-dropdown {
    border-color: #ebebeb
}

.select2-container--default .select2-results {
    padding: 6px 0 8px
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results & gt

;
.select2-results__options {
    max-height: 2000px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: transparent
}

.select2-container--default .select2-results__option {
    font-weight: 600;
    padding: 0 11px;
    margin-bottom: 4px
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.text-page .text-content table tr:hover {
    background-color: #f5f7f7
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: 0 0;
    border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear,
header .nav li:before {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    float: right;
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results & gt

;
.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group],
header .nav & gt

;
li.has-dropdown .dropdown li {
    padding: 0;
    white-space: nowrap;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: gray
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}

form label {
    display: block;
    margin-bottom: 3px;
    font-weight: 100
}

form .form-control {
    box-shadow: none !important;
    /*-webkit-appearance: none;*/
    border-color: #ebebeb;
    border-radius: 2rem;
}

form .form-control:focus {
    box-shadow: none;
    border-color: #ee6630
}

form .form-control[type=email],
form .form-control[type=text] {
    height: 45px;
    line-height: 43px
}

.main-page .next-check .form-and-calendar input[type=radio],
.nav-tabs & gt

;
li:before,
form .form-control[type=file] {
    display: none
}

form .form-control[type=file] + label {
    display: block;
    padding: 15px 13px 23px;
    border: 1px dashed #ddd;
    border-radius: 4px;
    cursor: pointer
}

form .form-control[type=file] + label .label {
    color: #ee6630;
    font-weight: 600
}

form .form-control[type=file] + label .hint {
    padding: 2px 0 0 14px;
    font-size: 14px
}

form .form-group {
    margin-bottom: 10px
}

form .form-group.error .form-control {
    position: relative;
    border-color: #ee6630
}

form .form-group.error:after {
    content: attr(data-error);
    position: relative;
    display: block;
    color: #ee6630;
    font-size: 14px;
    line-height: 22px;
    font-weight: 100
}

form textarea {
    resize: vertical
}

form input[type=checkbox] {
    visibility: hidden;
    height: 0;
    margin: 0
}

form input[type=checkbox] + label {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 0 36px 0 35px;
    cursor: pointer
}

form input[type=checkbox] + label:before {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    top: 0;
    left: 0;
    border: 1px solid #ebebeb
}

form input[type=checkbox] + label:after {
    width: 12px;
    height: 12px;
    content: '✔';
    line-height: 10px;
    display: block;
    position: absolute;
    color: #e55d26;
    top: 11px;
    left: 10px;
    opacity: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transition: 125ms
}

form input[type=checkbox]:checked + label:after {
    opacity: 1
}

form .js-order-submit {
    background-color: #ed2939;
    border-color: #ed2939;
}

.popup .panel {
    border: 0;
    border-radius: 0;
    box-shadow: none
}

.popup .panel-heading {
    padding: 15px 65px 15px 59px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0;
}

.popup .panel-body {
    padding: 30px 58px 35px
}

@media (max-width: 767.98px) {
    .fancybox-inner {
        overflow: scroll !important;
    }

    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 38px;
        line-height: 36px;
    }

    form .form-control[type="email"], form .form-control[type="text"] {
        height: 38px;
        line-height: 36px;
    }

    .popup .panel-heading {
        padding: 10px 25px 0 25px;
        font-size: 1.8rem;
    }

    .popup .panel-body {
        padding: 10px 25px 0 25px;
    }

    form input[type=checkbox] + label {
        padding: 0 0 0 35px;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
}

.popup .btn-wrapper {
    padding-top: 22px;
    text-align: center
}

.popup.popup-callback {
    width: 571px
}

.popup.popup-callback .btn-primary {
    padding: 9px 16px
}

/*.popup.popup-request {
	width: 570px
}*/
.popup.popup-request textarea.form-control {
    height: 87px
}

.popup.popup-success {
    /*width: 467px;*/
    font-weight: 100;
    text-align: center
}

.popup.popup-success .thanks {
    padding: 54px 110px 25px;
    font-size: 22px;
    line-height: 36px
}

.popup.popup-success .icon {
    width: 110px;
    height: 110px;
    background: url(../images/sprite.svg) -239px -2px no-repeat;
    margin: 0 auto
}

.popup.popup-success .text {
    padding: 32px 60px 56px;
    font-size: 18px
}

/* Дополнительные стили */
.hidden {
    display: none;
}

.position-inherit {
    position: inherit !important;
}

.white {
    background-color: #fff;
}

.gradient {
    background: linear-gradient(45deg, #53a3e5 33%, #1042a0 66%, #1042a0);
}

.text-white {
    color: #fff;
}

.img-cover {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    /*display: inline-block;*/
    position: relative;
    padding: 10px 15px;
}

@media (max-width: 767.98px) {
    .content {
        margin: 20px 0;
    }
}

.content-over {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 60px 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767.98px) {
    .content-over {
        padding: 10px;
    }

    .main-page .content-over {
        padding: 10px;
        background: rgb(20 41 83 / 68%) !important;
    }
}

#how-it-work {
    margin: 20px 0;
}

#how-it-work & gt

;
.row & gt

;
div {
    position: relative;
    margin-bottom: 60px;
}

#how-it-work .h2,
#how-it-work h2 {
    margin-bottom: 40px;
}

#how-it-work .card {
    /*display: inline-block;*/
    flex-direction: inherit;
    width: 100%;
    padding-right: 30px;
    background: transparent;
    border: none;
}

#how-it-work & gt

;
.row & gt

;
.card-container:not(:last-child):after {
    content: '&gt;';
    display: block;
    position: absolute;
    top: 84px;
    right: 10px;
    height: 30px;
    padding-top: 4px;
    width: 30px;
    color: #fff;
    text-align: center;
    background-color: #ed2939;
    border-radius: 50%;
}

@media (max-width: 767.98px) {
    #how-it-work & gt

;.row & gt

; .card-container:not(:last-child):after {
      content: none;
  }
}

#how-it-work .text {
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #294c92;
}

#you-get .h2,
#you-get h2 {
    margin-bottom: 40px;
}

#you-get .card {
    height: 100%;
    border-radius: 20px;
    border: none;
    overflow: hidden;
}

#you-get & gt

;
.row & gt

;
div {
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    #you-get .image {
        height: 110px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #294c92;
        background-size: 40%;
    }
}

#you-get .image {
    height: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #294c92;
}

#you-get .text {
    padding: 20px 40px;
    text-align: left;
}

#you-get .text .title {
    font-weight: bold;
    font-size: 2rem;
    color: #294c92;
    margin-bottom: 10px;
}

#you-get .text ol,
#you-get .text ul {
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

#you-get .text ol li,
#you-get .text ul li {
    margin-bottom: 8px;
}

#form-feedback .modal-content {
    padding: 20px;
    background-color: #f9f9f9;
}

form .error {
    color: red;
}

.seo-links-block {
    padding-left: 18px;
    margin-top: 40px;
}

.seo-links-block .seo-link {
    padding: 6px 0;
    font-weight: bold;
    color: #294c92;
    border: none;
    background-color: transparent;
}

.seo-links-block .seo-link:focus {
    border: none;
    outline: none;
}

.seo-links-block .seo-link.collapsed i.fa {
    transform: rotateZ(180deg);
}

.arshin {
    text-align: center;
}

.arshin span {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    background-color: #ed2939;
    border-radius: 50rem;
}

.arshin a {
    color: #fff;
}

.col {
    min-width: auto;
}

.downdocs a.pdf:before {
    content: "";
    background: url(/upload/pdf.svg) center center no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    float: left;
    margin-right: 10px;
}

.downdocs a.search:before {
    content: "";
    background: url(/upload/search-icon.svg) center center no-repeat;
    width: 44px;
    height: 44px;
    display: block;
    float: left;
    margin-right: 10px;
    background-size: cover;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.whatsapp-button {
    position: fixed;
    right: 13px;
    bottom: 90px;
    transform: translate(-50%, -50%);
    background: #25D366; /*цвет кнопки*/
    border-radius: 50%;
    width: 55px; /*ширина кнопки*/
    height: 55px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 99;
}

.whatsapp-button a {
    color: #fff;
}

.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #25D366; /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.whatsapp-button:after {
    animation-delay: .5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

li.social-icons {
    margin-top: 10px;
}

li.social-icons img {
    width: 30px;
    margin-right: 10px;
}

li.social-icons a {
    text-decoration: none;
}
