* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.form_gap input {
    color: white !important;
}

.header_phone_mob {
    width: 100%;
    text-align: end;
    text-decoration: none;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
}

.metr_form__cont {

}

.q-tabs--not-scrollable .q-tabs__content, body.mobile .q-tabs--scrollable.q-tabs--mobile-without-arrows .q-tabs__content {
    justify-content: space-around;
    border-radius: inherit;
}

@font-face {
    font-display: swap;
    font-family: "Rubik-regular";
    src: url("src/assets/fonts/Rubik-Regular.ttf") format("opentype");

}

@font-face {
    font-display: swap;
    font-family: "Rubik-Medium";
    src: url("src/assets/fonts/Rubik-Medium.ttf") format("opentype");

}

@font-face {
    font-display: swap;
    font-family: "Rubik-Bold";
    src: url("src/assets/fonts/Rubik-Bold.ttf") format("opentype");

}

@font-face {
    font-display: swap;
    font-family: "RobotoRegular";
    src: url("src/assets/fonts/Roboto-Regular.ttf") format('opentype');
}

.q-field__label {
    color: #F2F2F2;
    font-family: Rubik-Medium;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.q-item__label {
    font-size: 20px;
    font-family: Rubik-Medium;
}

.accordion-list__text {
    font-family: Rubik-Medium;
    font-size: 15px;
    color: rgb(63, 63, 63);
}

.text-opacity {
    color: rgba(255, 255, 255, 0.7)
}

.fz-home {
    /*font-size: 6vw*/
}

.fz-150 {
    font-size: 150px;
}

.fz-90 {
    font-size: 90px;
}

.fz-60 {
    font-size: 60px;
}

.fz-32 {
    font-size: 32px;
}

.fz-26 {
    font-size: 26px;
}

.fz-21 {
    font-size: 21px;
}

.fz-16 {
    font-size: 16px;
}

.Rubik400 {
    font-family: "Rubik-regular";
}

.Rubik500 {
    font-family: Rubik-Medium;
}

@media (max-width: 1900px) {
    .main_promo {
        margin: 0;
    }
}

@media (max-width: 1700px) {
    .main_cards {
        margin-top: -5.5%;
    }
}

@media (max-width: 1450px) {

    .btn_submit {
        padding: 4px 12px !important;
        font-size: 18px;
        width: 50rem;
    }
}

@media (max-width: 1300px) {
    .form_main {
        position: absolute;
        bottom: 8%;
        right: 25vw;
        padding-left: 15px;
    }

    .form_gap {
        gap: 15px;
        align-items: baseline;
    }

    .btn_submit {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 20px !important;
        font-family: Rubik-regular !important;
        height: fit-content !important;
        padding: 5px !important;
    }

    .pol_conf {
        font-size: 20px;
    }
}

@media (max-width: 1160px) {
    .main_cards {
        justify-content: center!important;
    }

    .form_main {
        width: 74%
    }

    .pol_conf {
        font-size: 14px !important;
    }

    .form_main {
        width: 93%;
        position: absolute;
        bottom: 10%;
        left: 5%;
    }

    .form_gap {
        width: 56%;

    }
}

@media (max-width: 900px ) {

    .step_image:before {
        left: 27%;
        transform: rotate(90deg);
        position: relative;
        content: "";
        display: block;
        height: 2px;
        width: 43%;
        background-image: radial-gradient(#9600ff 40%, transparent 50%);
        background-size: 17px 10px;
        background-repeat: repeat-x;
        background-position: 0 center;
        top: -1.5rem;
    }

    .step_image:after {
        left: 19%;
        transform: rotate(90deg);
        position: relative;
        content: "";
        display: block;
        height: 2px;
        width: 60%;
        background-image: radial-gradient(#9600ff 40%, transparent 50%);
        background-size: 17px 10px;
        background-repeat: repeat-x;
        background-position: 0 center;
        top: 2rem;
    }


    .step_items {
        position: relative;
        min-height: 215px;
        background: white;
        padding: 10px 1px;
        border-radius: 10px;
        margin: 0 !important;
    }


    .last_step_image:after {
        left: 29%;
        transform: rotate(90deg);
        position: relative;
        content: "";
        display: block;
        height: 2px;
        width: 40%;
        background-image: radial-gradient(#9600ff 40%, transparent 50%);
        background-size: 17px 10px;
        background-repeat: repeat-x;
        background-position: 0 center;
        top: 1rem;

    }

    .metr_form__cont {
        justify-content: center !important;
    }

    .main_promo {
        background: url("src/assets/main_bg_mob.svg") no-repeat rgba(53, 203, 226, 1) !important;
        min-height: 240px !important;
    }

    .main_promo_title {
        padding-left: 10% !important;
    }

    .form_main {
        bottom: 4% !important;
        left: 6% !important;
    }

    .btn_submit {
        border-radius: 20px !important;
        width: 100% !important;
        font-size: 10px !important;
        max-width: 110px !important;

    }

    .pol_conf {
        font-size: 13px !important;
    }

    .plus_company {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .list_plus {
        width: 100% !important;
    }

    .company_info {
        width: 100% !important;
    }

    .dashed_border {
        width: 100% !important;
    }

    .main_cards {
        padding-top: 10%;
    }

    .text-check_district {
        padding-left: 15px;
        font-size: 5vw !important;
    }

    .check_district {
        height: 190px !important;
    }

    .check_district_box {
        padding: 10px 0;
    }

    .step_cards {
        flex-direction: column;
        gap: 0 !important;

    }

    .recall_form {
        max-height: 100% !important;
        padding: 9px 11px !important;
        margin: 18px !important;
    }

    .dpNone {
        display: none !important;
    }

    .topCompany_cards {
        flex-wrap: wrap !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .card_company {
        width: 100% !important;
        flex-direction: row;
        max-width: 100% !important;
        justify-content: center;

    }

    .text_company-h3 {
        font-size: 14px !important;
    }

    .tabs {
        width: 100% !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .slider_metr {
        max-width: 89vw !important;
    }

    .slider_form {
        width: 0 !important;
    }

    .slider_item {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    .tab-text__title {
        font-size: 32px;
    }

    .partners_block {
        flex-direction: column;

    }

    .item-meter {
        flex-direction: column !important;
        align-items: center;
        margin: 10px 15px !important;
    }

    .item-text {
        flex-direction: column;
    }

    .list_box {
        padding: 0 10px !important;
    }

    .input_form {
        font-size: 11px;
    }

    .form_gap {
        justify-content: center;
        align-items: baseline;
        width: 90%;
    }

    .main_promo_title {
        padding-top: 5%;
        padding-left: 13%;
        min-height: 36vw;
        width: 100%;
        color: #FFF;
        font-size: 4vw;
        font-weight: 500;
        line-height: 1.4em;
        text-shadow: -3px 4px rgba(0, 0, 0, 0.25);
    }

}

@media (max-width: 430px) {
    .form_main {
        position: absolute;
        bottom: 10%;
        left: 0 !important;
        width: 98% !important;
    }

    .q-field__label {
        font-size: 10px !important;
    }

    .q-field__native, .q-field__input {
        font-size: 12px !important;
    }


    .form_main {
        position: absolute;
        bottom: 3vw;
        left: 25%;
        width: 70vw;
        right: 5%;
        top: 61%;
        height: fit-content;
    }

    .form_gap {
        gap: 3px;
        width: 100% !important;

    }

    .main_promo {
        background: url(/src/assets/main_bg_xsmall.svg) no-repeat rgba(53, 203, 226, 1) !important;
        margin: 0 !important;
        background-size: cover !important;

    }

    .pol_conf {
        font-size: 7px !important;
    }

    .main_promo_title {

        min-height: 36vw !important;
        width: 100% !important;
        color: #FFF !important;
        font-weight: 500 !important;
        padding-top: 17% !important;
        padding-left: 2% !important;
        min-height: 36vw !important;
        width: 100% !important;
        color: #FFF !important;
        font-size: 5vw !important;
        font-weight: 500 !important;
        line-height: 1.4em !important;
        text-shadow: none !important;
    }

    .anim_btn {
        padding: 20px 80px;
        background: #3E64FF;
        color: #ffffff;
        text-decoration: none;
        font-size: 24px;
        border-radius: 10px;
        position: relative;
        overflow-x: hidden;
    }

    .anim_btn .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 45px;
        transform: skewX(-45deg);
        animation: flareAnimation;
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 3s infinite linear;
    }

    button:hover {
        cursor: pointer;
    }

    @keyframes flareAnimation {
        0% {
            left: -150%;
        }
        100% {
            left: 150%;
        }
    }

}



