@font-face {
    font-display: swap;
    font-family: "Rubik-regular";
    src: url("src/assets/fonts/Rubik-Regular.ttf") format("opentype");

}
@font-face {
    font-display: swap;
    font-family: "Rubik-Medium";
    src: url("src/assets/fonts/Rubik-Medium.ttf") format("opentype");

}
@font-face {
    font-display: swap;
    font-family: "Rubik-Bold";
    src: url("src/assets/fonts/Rubik-Bold.ttf") format("opentype");

}



@font-face {
    font-display: swap;
    font-family: "RobotoRegular";
    src: url("src/assets/fonts/Roboto-Regular.ttf") format('opentype');
}
